VITE_SUPABASE_URL=https://jfgbpdppliilbukookyg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmZ2JwZHBwbGlpbGJ1a29va3lnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA3MDQ2MjgsImV4cCI6MjA3NjI4MDYyOH0.-PXryoGB3JsHCZbiia_nmK1DDU9_ezcHuO_rvfiPDbQ